.body {
    background-color: ivory;
}

.main {
    background: url(https://www.hulu.com/static/hitch/s3/2020-04/Homepage_Masthead_Test_TREATMENT_3200x1320-v4b_Desktop_0.jpg?3QKebgjV32Lc0StQODoFkcm0kjrPujXN) no-repeat 100%; 
    margin: -70px -10px 00px -10px;
    background-size: cover;
}

.hulu {
    float: left;
    padding-left: 1em;
    padding-top: .2em;
    color: white;
    position: relative;
    font-family: 'Heebo', sans-serif;
}

.onePlace {
    font-family: 'Heebo', sans-serif;
    padding-top: 2em;
    font-size: 45pt;
    font-weight: bold;
    text-align: center;
    color: white;
    text-align: center;  
}

.price {
    font-family: 'Heebo', sans-serif;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    color: white;
    text-align: center;
    padding: 0em 22em 0em 22em; 
}

.adds {
    font-family: 'Heebo', sans-serif;
    font-size: 10pt;
    text-align: center;
    color: white;
    text-align: center;
    padding: 0em 22em 0em 22em; 
}

.button {
    width: 16em;
    height: 3.5em;
    z-index: 2; 
    background-color: white;
    margin: 0em 43vw 0em 43vw;
    border-radius: .3em;
    text-align: center;
    padding-top: .1em;
    padding-bottom: .1em;
    font-family: 'Heebo', sans-serif;
    position: center;
}

.finePrint{
    text-align: center;
    font-size: 7pt;
    color: white;
    font-family: 'Heebo', sans-serif;
    padding: 2em 0em 5em 0em; 

}

.bluebar {
    background-image: linear-gradient(to right, #08141F, #0F4455 70%);
    color: white;
    margin: -10px;
    display: flex;
    justify-content: space-around;
    font-family: 'Heebo', sans-serif;
    
    
}



.bundlePic {
    padding-top: 2em;
    
    
    
}

.bundleTextOne {
    padding: 2em 0em 2em; 
    margin-left: -8em;


}

#bundle {
    color: #2DBD9D;
    font-size: 9pt;
    font-weight: bold;
}

#moreDetails {
    color: #B6C2C5;
    font-size: 9pt;
    text-decoration: underline;

}

.bundleTextTwo {
    padding: 2em;  
}

#getBundle {
    width: 6em;
    height: 1.5em;
    border: 3px solid white;
    border-radius: .5em;
    z-index: 3;
    text-align: center;
    padding: 1em;
}

#termsApply {
   font-size: 7pt;
   text-decoration: underline;
   display: flex;
   justify-self: center;
   position: relative; 
   padding-left: 5em;

}

.inBetween {
    background: url(https://www.hulu.com/static/hitch/s3/2019-11/Welcome-ContentBlock-Desktop%20.jpg?jG5AfMZ.bGHD8c3NgPVsML79Im6UkUSW) no-repeat;
    background-size: contain;
    display: flex;
    justify-self: center;
    width: 80vw;
    height: 30vw;
    margin-top: 10px;

   
}