.body {
    background-color: ivory;
}

.top {
    background: url(https://www.hulu.com/static/hitch/s3/2020-04/Homepage_Masthead_Test_TREATMENT_1536x1320-v4b_Tablet_0.jpg?nEbSE3Tu4GiJOym6WaNbx2Psd9UlQrGN;);
    color: white;
    text-align: center;
}

.hulu {
    float: left;
    margin-top: 0;
}

.onePlace {
    font-family: futura;
}

.bluebar {
    background-image: linear-gradient(to right, #08141F, #0F4455 50%);
    color: white;
}

.inBetween {
    background: url(https://www.hulu.com/static/hitch/s3/2019-11/Welcome-ContentBlock-Desktop%20.jpg?jG5AfMZ.bGHD8c3NgPVsML79Im6UkUSW) 100% no-repeat;
    width: 100vw;
    height: 25vw;
    object-fit: cover;
    max-width: 100%;



}
